[submodule "src/stdlib"]
	path = src/stdlib
	url = https://github.com/harrand/psystdlib
[submodule "src/--force"]
	path = src/--force
	url = https://github.com/harrand/libpsybase
[submodule "src/libpsybase"]
	path = src/libpsybase
	url = https://github.com/harrand/libpsybase
